{% extends "base/one_col.html" %}
{% load uni_form_tags %}

{% block title %}Define milestones{% endblock %}

{% block jquery %}
    layBreadcrumbs([
        {"title":"Dashboard", "url":"{% url dashboard %}"},
        {"title":"Define Milestones", "url": null}
    ]);

    var milestones = $('#milestones').sortable({placeholder: "ui-state-highlight"});
    var ml_tmpl = $('#ml-template').find("li:first-child");

    function add_milestone(ms) {
        var ml = ml_tmpl.clone();
        ml.html(ml.html().replace("[CONTENT]", ms));
        ml.appendTo(milestones);
    }

    {% for milestone in milestones %}
    add_milestone("{{ milestone }}");
    {% endfor %}


    $('a.btn-delete').live("click", function(e) {
        e.preventDefault();
        $(this).parent().parent()
            .slideUp()
            .queue("fx", function() {
                $(this).remove();
                $(this).dequeue();
            });
    });


    $('#add-ms').submit(function(e) {
        e.preventDefault();
        var ms = $('#add-ms-content').val().trim();
        if (ms != "") {
            // TODO: check for duplicate milestones.
            // TODO: check at least one milestone.
            add_milestone(ms);
            $('#add-ms-content').val("");
        }
        return false;
    });

    $('#btn-submit').click(function() {
        var ghost = $('#ghost-form');
        milestones.find("li span.content").each(function() {
            $("<input />", {
                "name": "milestone",
                "type": "checkbox",
                "value": $(this).text(),
                "checked": true
            }).appendTo(ghost);
        });
       ghost.submit();
    });

{% endblock %}

{% block content %}
<div>
<h1>Define milestones for {{ course.name }}</h1>
</div>

<div class='container_16'>
    <div class='grid_11'>
        <ul class='hidden' id='ml-template' >
            <li class="ui-state-default">
                <span class="ui-icon ui-icon-arrowthick-2-n-s icon"></span>
                <span class='content'>[CONTENT]</span> 
                <span>[<a href='' class='btn-delete'>x</a>]</span>
            </li>
        </ul>
        <div>
            <ul id='milestones' class='sortable-list'></ul>

            <form id='add-ms'>
                <input id='add-ms-content' type='text' value=''></input>
                <input type='submit' value='Add milestone'></input>
            </form>
        </div>
    </div>
    <div class='grid_5'>
        <ul>
            <li>Course Name: {{ course.name }}</li>
            <li>Course Leader: {{ course.leader.username }}</li>
            <li>.... more details ... </li>
            <li>.... more details ... </li>
            <li>.... more details ... </li>
        </ul>
        <button id='btn-submit'>Submit and activate course</button>
        <div class='footnote'>
        The course leader will be notified.
        </div>
    </div>
</div>
<form id='ghost-form' action='' method='post' class='hidden'>{% csrf_token %}</form>
{% endblock %}
