{% extends "base/two_col_12_4.html" %}
{% load uni_form_tags %}

{% block title %}{{ milestone.name }} ({{ course.name }}){% endblock title %}

{% block jquery %}
    layBreadcrumbs([
        {"title":"Dashboard", "url":"{% url dashboard %}"},
        {"title":"Course: {{ course.name }}", "url": "{% url course_view course.id %}"},
        {"title":"Milestone: {{ milestone.name }}", "url": null}
    ]);
    var changes = false;

    function change_dev(task, dev) {
        var dev_name = dev.attr("data-name");
        var dev_id = dev.attr("data-id");
        task.attr("data-dev", dev_id);
        task.find("td.developer").text(dev_name);
        changes = true;
        $('#btn-save-tasks').attr("disabled", false);
    }

    $('#dev-list').find("li").draggable({
        scroll: true,
        revert: "invalid",
        opacity: 0.7,
        helper: "clone",
        cursor: "move"
    }).disableSelection();

    var droppable_opts = {
        accept: "#dev-list li",
        activeClass: "active",
        hoverClass: "hover",
        drop: function( event, ui ) {
            change_dev($(this), ui.draggable);
        }
    };
    $('#task-list').find("tr:not(.complete)").droppable(droppable_opts);

    $('#new-task-form').bind("submit", function(e) {
        e.preventDefault();
        var input_name = $('#new-task-name');
        var task_name = input_name.val().trim();
        if (task_name == "") { return; }
        
        var row = $("<tr />", {"data-name": task_name})
            .append($("<td/>", {"class":"name", "text":task_name, "style":"width:470px"}))
            .append($("<td/>", {"class":"developer", "text":"-"}))
            .append($("<td/>", {"class":"complete", "text":"no"}))
            .appendTo($('#task-list-items'))
            .droppable(droppable_opts);

        input_name.val("");
        changes = true;
        $('#btn-save-tasks').attr("disabled", false);
    });

    function save_tasks(callback_success, callback_done) {
        $('#btn-save-tasks').attr("disabled", true);
        $('#new-task-name').attr("disabled", true);

        var task_array = {};

        $('#task-list-items').find("tr").each(function(index){
            var task_id = $(this).attr("data-id");
            var task_name = $(this).attr("data-name");
            var dev_id = $(this).attr("data-dev");
            if (!dev_id) {
                alert("Task '"+task_name+"' has not been assigned to a developer");
                $('#btn-save-tasks').attr("disabled", false);
                $('#new-task-name').attr("disabled", false);
                return;
            }
            if (!task_id) { task_id = ""; }
            task_array[index] = task_id + ";" + dev_id + ";" + task_name;
        })

        $.ajax({
            type: "POST",
            url: '{% url ajax_add_tasks course.id milestone.id %}',
            data: task_array,
            success: callback_success,
            error: function() { alert("Operation failed!"); },
            complete: function() {
                $('#btn-save-tasks').attr("disabled", false);
                $('#new-task-name').attr("disabled", false);
                changes = false;
                if ($.isFunction(callback_done)) { 
                    callback_done(); 
                }
            }
        });
    }
    $('#btn-save-tasks').click(function() {
        $('#btn-save-spinner').show();
        save_tasks(function() {
            return;
        }, function() {
            $('#btn-save-spinner').hide();
        })
    });

    // TODO: limit end date to target end date for course
    $('#id_date_target').datepicker({minDate:"+0", "dateFormat":"dd/mm/yy"});

    $('#update-details-form').submit(function() {
        if ( changes ) {
            alert("You've made changes to the task list. Save that first.");
            return false;
        }
    });

{% endblock jquery %}

{% block content_top %}
<h1>Updating milestone for {{ course.name }}:</h1>
{% endblock %}

{% block content %}

<table id='task-list'>
<thead>
<tr>
    <th class='name'>Task Name</th>
    <th>Assigned To</th>
    <th class='complete'>Completed?</th>
</tr>
</thead>
<tbody id='task-list-items'>
{% for task in tasks %}
<tr data-id='{{ task.id }}' class='{{ task.complete|yesno:"complete," }}' data-dev='{{ task.developer.id }}' data-name='{{ task.name }}'>
    <td class='name'>{{ task.name }}</td>
    <td class='developer'>{{ task.developer.get_full_name }}</td>
    <td class='complete'>{{ task.complete|yesno:"yes,no" }}</td>
</tr>
{% endfor %}
</tbody>
<tfoot>
<tr>

    <form id='new-task-form'>
    <td class='name'>
        <input type='text' name='name' style="width:450px;" id='new-task-name' /> 
    </td>
    <td colspan='2'>
<!--         <input type='submit' name='submit' value='Add task'/> --> &nbsp;
    </td>
    </form>

</tr>
</tfoot>
</table>

<div style='text-align:right'>
    <span id='btn-save-spinner' class='hidden'>Saving changes ... <img src='{{ MEDIA_URL }}img/spinner.gif' /></span>
    <button id='btn-save-tasks' disabled='true'>Save changes to tasks</button>
</div>

<br />
<h2 class='underlined'>Milestone details</h2>
<form action="" method="post" class="uniForm" id='update-details-form'>
{% with form.helper as helper %}
    {% uni_form form helper %}
{% endwith %}
</form>
<br /><br />

{% endblock %}

{% block content_right %}
<div class='footnote'>Assign developers to task by drag-droping the developer onto tasks</div>
<ul id='dev-list'>
{% for dev in developers %}
    <li data-id='{{ dev.id }}' data-name='{{ dev.get_full_name }}'>{{ dev.get_full_name }}</li>
{% endfor %}
</ul>
{% endblock %}