{% extends "base/two_col_12_4.html" %}

{% block title %}{{ course.name }}{% endblock title %}

{% block content_top %}
<h1>Course : {{ course.name }}</h1>
{% endblock %}

{% block content %}
<h2 class='underlined'>Milestones</h2>
{% for ms in milestones %}
    <div class='milestone milestone-{{ ms.complete|yesno:"complete,not-complete" }}'>
        <div class='milestone-title'>
            {{ ms.name }} 
            {% if course.leader == user or course.admin == user %}
                [<a href='{% url milestone_edit course.id ms.id %}'>edit</a>]
            {% endif %}
        </div>
        <div class='tasks'>
            <ul>
            {% for task in ms.task_set.all %}
                <li>{{ task.name }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endfor %}

{% endblock %}
{% block content_right %}
<div>
<ul class='def-list'>
    <li>
        <span class='title'>Course Admin</span>
        <span class='content'>{{ course.admin.get_full_name }}</span>
    </li>
    <li>
        <span class='title'>Course Leader </span>
        <span class='content'>{{ course.leader.get_full_name }}</span>
    </li>
    <li>
        <span class='title'>Date Created </span>
        <span class='content'>
            {{ course.date_created|date }}<br />
            ({{ course.date_created|timesince }} ago)
        </span>
    </li>
    <li>
        <span class='title'>Target Finish Date</span>
        <span class='content'>
            {{ course.date_target|date }}<br />
            {% if course_due %}
                {% if not course.complete %}
                    (<span style='color:red'>Completion Due!</span>)
                {% endif %}
            {% else %}
            ({{ course.date_target|timeuntil }} to go)
            {% endif %}
        </span>
    </li>
    <li>
        <span class='title'>Developers: </span>
        <span class='content'>
            <ul>
            {% for dev in course.developers.all %}
                <li>{{ dev.get_full_name }}</li>
            {% endfor %}
            </ul>
        </span>
    </li>
</ul>
</div>
{% endblock %}