/* layout, with sticky footer */
html, body, #wrapper { height: 100%; }
body > #wrapper { min-height: 100%; height: auto; }
#content { padding-bottom: 2em; }

#header { height: 60px; left: 0; top: 0; width: 100% }
#header {
    background-color: #26587F;
    margin-bottom: 0px;
}
#header-content { padding-top: 8px; height: 30px; }
#header-data { color: #fff; }
#header-data a { color: #7c95ac; text-decoration: none; font-weight: bold; }
#header-data a:hover { text-decoration: underline; }
#header-logo {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
}
#footer {
    clear: both; position: relative; z-index: 10; height: 2em; margin-top: -2em;
    font: 12px 'Lucida Grande',Verdana;
    text-align:center;
    color: #7c95ac;
}
#footer a { color: #7c95ac; text-decoration: none; font-weight: bold; }

/* LOGIN FORM  */
#login-container { margin-top: 100px; }
#login-form {
    margin:0 auto;
    padding:30px;
    width:498px;
}
form.login .form-row { margin: 20px 0 20px 0; }
form.login label {
    color:#657788;
    display:block;
    font-size:18px;
    margin-bottom:5px;
}
form.login div.has-error input { border: 1px solid #f77; }
form.login ul.errorlist li {
    color: #f55;
    font-size:12px;
}
form.login input {
    background-color: #F7FCFF;
    border:1px solid #97B5D2;
    color:#25313C;
    font-family:Georgia,Times,"Times New Roman",serif;
    font-size:20px;
    width:495px;
}
form.login input.submit-button {
    width: 180px;
    background-color: #26587F;
    border-width:0 1px 1px 0;
    color:#FFFFFF;
    cursor:pointer;
    font-size:20px;
    height:35px;
    line-height:35px;
    margin:0;
    overflow:visible;
    padding:0 15px;
    float: right
}
.errornote {
    color: #f55;
    margin-bottom: 20px;
}

.sortable-list {

}
.sortable-list { list-style-type: none; margin: 10; padding: 0; width: 90%; }
.sortable-list li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px;  cursor: move;}
.sortable-list li span.icon { position: absolute; margin-left: -1.3em;}
.ui-state-highlight { height: 1.5em; line-height: 1.2em; }

.hidden { display: none; }

.footnote {
    font-style: italic;
    font-size: 0.9em;
    color: #999;
}