/* layout, with sticky footer */
html, body, #wrapper { height: 100%; background-color: #fff;}
body > #wrapper { min-height: 100%; height: auto;}
#content { padding-bottom: 2em; }

#header { height: 60px; left: 0; top: 0; width: 100% }
#header {
    background-color: #26587F;
    margin-bottom: 0px;
}
#header-content { padding-top: 8px; height: 30px; }
#header-data { color: #fff; }
#header-data a { color: #7c95ac; text-decoration: none; font-weight: bold; }
#header-data a:hover { text-decoration: underline; }
#header-logo {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
}
#header-logo a { color: #fff; }
#header-logo a:hover { text-decoration: none }

#welcome-bar {
    padding-top: 20px;
    text-align: right;
}
#footer {
    clear: both; position: relative; z-index: 10; height: 2em; margin-top: -2em;
    font: 12px 'Lucida Grande',Verdana;
    text-align:center;
    color: #7c95ac;
}
#footer a { color: #7c95ac; text-decoration: none; font-weight: bold; }

/* LOGIN FORM  */
#login-container { margin-top: 100px; }
#login-form {
    margin:0 auto;
    padding:30px;
    width:498px;
}
form.login .form-row { margin: 20px 0 20px 0; }
form.login label {
    color:#657788;
    display:block;
    font-size:18px;
    margin-bottom:5px;
}
form.login div.has-error input { border: 1px solid #f77; }
form.login ul.errorlist li {
    color: #f55;
    font-size:12px;
}
form.login input {
    background-color: #F7FCFF;
    border:1px solid #97B5D2;
    color:#25313C;
    font-family:Georgia,Times,"Times New Roman",serif;
    font-size:20px;
    width:495px;
}
form.login input.submit-button {
    width: 180px;
    background-color: #26587F;
    border-width:0 1px 1px 0;
    color:#FFFFFF;
    cursor:pointer;
    font-size:20px;
    height:35px;
    line-height:35px;
    margin:0;
    overflow:visible;
    padding:0 15px;
    float: right
}
.errornote {
    color: #f55;
    margin-bottom: 20px;
}

.sortable-list {

}
.sortable-list { list-style-type: none; margin: 10; padding: 0; width: 90%; }
.sortable-list li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px;  cursor: move;}
.sortable-list li span.icon { position: absolute; margin-left: -1.3em;}
.ui-state-highlight { height: 1.5em; line-height: 1.2em; }

.hidden { display: none; }

.footnote {
    font-style: italic;
    font-size: 0.9em;
    color: #999;
}

.box {
    border: 1px solid #aaa;
    padding: 10px;
    margin-top: 20px;
}

#notification-bar {
    position: fixed;
    top: 60px;
    left: 0px;
    width: 100%;
    display: none;
}
#notification-bar div {
    width: 100%;
    padding: 10px 60px 10px 150px;
    font-size: 1.2em;
    font-weight: bold;
    z-index: 99;
    border-bottom: 1px solid #ddd;
}
#notification-bar div.notif-error {
    color: #fff;
    background-color: #610B0B;
}
#notification-bar div.notif-warning {
    color: #fff;
    background-color: #8A4B08;
}
#notification-bar div.notif-info {
    color: #fff;
    background-color: #380B61;
}
#notification-bar div.notif-success {
    color: #fff;
    background-color: #38610B;
}

/*.milestone {
    border: 2px dotted #999;
    margin-top: 10px;
    padding: 5px;
}

.milestone-complete {
    border: 2px solid #38610B;
}

.milestone-not-complete {
    border: 2px solid #B45F04;
}

.milestone .title {
    font-weight: bold;
}*/

.section-box { margin: 10px 0px 20px 0px; border: 3px solid #ddd;}
.section-box .section-head { margin:0; padding:0; }
.section-box .section-links { 
    padding: 1px 20px 1px 10px;
    padding-right: 20px;
    padding-top: 1px;
    color: #777;
    float: right; 
}
.section-box .section-title {
    float: right;
    background-color: #ddd;
    color: #777;
    padding: 1px 10px 3px 10px;
}
.section-box .section-content {
    
    padding: 10px;
}
/*
.tasks {
    list-style: none;
}
.tasks li {
    border-bottom: 1px solid #ddd;
    padding: 3px;
    padding-left: 10px;
    margin-top: 3px;
}
.tasks li.complete {
    border-left: 5px solid #070;
}
.tasks li.not-complete {
    border-left: 5px solid #700;
}

.tasks li:hover {
    background-color: #F5F6CE;
}*/


.item-listing {
    list-style: none; margin-left: 0px;
}
.item-listing li {

    padding: 3px;
    padding-left: 10px;
    margin-top: 3px;
    margin-left: 10px;
}
.item-listing li:hover {
    background-color: #F5F6CE;
}
.underlined {
    border-bottom: 1px solid #ddd;
}

.def-list { list-style: none; margin-left: 0px; }
.def-list li {
    margin-bottom: 10px;
}
.def-list li .title {
    color: #26587F;
    font-weight: bold;
    display: block;
}
.def-list li .content {
    margin-left: 20px;
    color:#555;
    display: block;
}
.def-list li .content ul { margin-left: 0px }
.def-list li .content ul li { margin-left: 20px }

#dev-list { list-style: none; margin: 20px 0px 20px 0px; padding: 0px;}
#dev-list li { 
    width: 200px;
    padding: 3px 10px 3px 10px;
    margin: 0px 0px 5px 0px;
    border: 1px solid #888;
    cursor: move;
}

#task-list { width: 100% }
#task-list thead tr { border-bottom: 1px solid #97B2C6; }
#task-list th {
    color: #26587F;
    text-align: left;
}
#task-list .complete { text-align: center; width:60px; }
#task-list .name { width:470px; }
#task-list tbody tr {
    margin-top: 3px;
    border-bottom: 1px solid #ccc;
}
#task-list tbody td {
    padding: 5px 5px 5px 0px;
}
#task-list tbody tr.active {
    background-color: #F5F6CE;
}
#task-list tbody tr.hover {
    background-color: #fff;
    border-right: 5px solid #ccc;
}
#task-list tbody tr.hover td.developer {
    color: #ccc;
}
#task-list tfoot td {
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}