{% extends "base/one_col.html" %}

{% block title %}{{ block.super }}Dashboards{% endblock title %}

{% block content %}
<h1>Dashboard</h1>

<div id='links'>
Logged in as {{ user.username }} [ <a href='{% url course_add %}'>Add course</a> ]
</div>

<hr />

{% if incomplete_courses %}
<div id='course-listing'>
    <h2>Pending Courses</h2>
    <ul>
    {% for course in incomplete_courses %}
        <li>
            <a href='{% url course_activate course.id %}'>{{ course.name }}</a>
            <i>(Created {{ course.date_created|timesince }} ago)</i>
        </li>
    {% endfor %}
    </ul>
</div>
{% endif %}

<div id='course-listing'>
    <h2>Active courses</h2>
    <ul>
    {% for course in courses %}
        <li>{{ course.name }}</li>
    {% empty %}
        <li>-- none --</li>
    {% endfor %}
    </ul>
</div>


{% endblock %}